<div class="container">
  <div class="mt-3 mb-4 text-light">
    <hr>
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div id="carousel-destaque" class="carousel slide d-flex" data-interval="3500"  data-ride="carousel">
        <a href="#carousel-destaque" class="bt-white-carousel-control align-self-center" data-slide="prev">
          <i class="fas fa-angle-left fa-3x"></i>
        </a>
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let destaque of ofertasEmDestaque">
            <div class="container">
              <div class="row">
                <a class="col-12 d-sm-block offset-md-1 col-md-5 offset-lg-2 col-lg-4" [routerLink]="['/oferta', destaque.id]">
                    <img [src]="destaque.imagens[0].url" class="img-fluid bt" />
                  </a>
                <a [routerLink]="['/oferta', destaque.id]" class="col-12 col-sm-6 col-md-5 col-lg-4 text-light">
                    <h3 class="text-center"> {{ destaque.titulo }} </h3>
                    <h4 class="text-center d-none d-md-block"> {{ destaque.descricao_oferta }} </h4>
                    <h3 class="text-center">{{ destaque.valor | currency:'BRL':'symbol' }}</h3>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <!-- controles -->
        <a href="#carousel-destaque" class="bt-white-carousel-control align-self-center" data-slide="next">
          <i class="fas fa-angle-right fa-3x"></i>
        </a>              
      </div>
    </div>
  </div>
  
  <div class="mt-3 mb-4 text-light">
    <hr>
    <h3 class="text-center">Outras Ofertas</h3>
    <hr>
  </div>
  
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let oferta of ofertas">
      <div class="card bt-bg-transparent mb-3 p-2">
        <img class="card-img-top" [src]='oferta.imagens[0].url'>
        <div class="transparent-div text-light">
          <div class="card-block">
            <h4 class="card-title text-center my-2">{{ oferta.titulo }}</h4>
            <p class="card-text text-center mx-4 text-truncate">{{ oferta.descricao_oferta }}</p>
            <div class="container mt-4">
              <div class="row d-flex align-items-center">
                <div class="lead font-weight-bold col-8 col-sm-9 col-md-8 col-lg-6">
                  {{ oferta.valor | currency:'BRL':'symbol' }}
                </div>
                <a [routerLink]="['/oferta', oferta.id]" class="btn btn-outline-light col-4 col-sm-3 col-md-4 col-lg-6">Ver oferta</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <hr />
  </div>
  