.bt-white-carousel-control {
    color: #eee;
}

.bt-white-carousel-control:hover {
    color: #ccc;
}

.bt-white-carousel-control:visited {
    color: #eee;
}

.bt-white-carousel-control:focus {
    color: #eee;
}