<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 bt-my-sm-5">
                <app-progresso [percentComplete]="percentComplete">
                </app-progresso>
            </div>
            <div class="col-sm-6 bt-my-sm-5">
                <app-tentativas [attemptsRemaining]="attemptsRemaining">
                </app-tentativas>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>{{instructionText}}</h5>
                <p>{{ roundPhrase.fraseEN }}</p>
                <textarea 
                    class="form-control mb-4" 
                    rows="3"
                    (input)="updateAnswerCache($event)"
                    [value]="userAnswer">
                </textarea>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col d-flex justify-content-end">
                <button 
                    type="button" 
                    class="btn btn-primary"
                    (click)="verifyAnswerButtonClick()">Primary</button>
            </div>
        </div>
    </div>
</div>