<div class="container">
  <div class="row">
    <div class="col-sm-6 d-none d-md-flex justify-content-end" [@animacao-banner]="estadoCriado">
      <app-banner></app-banner>
    </div>
    
    <div [@animacao-painel]="estadoCriado" id="painel">
      <div *ngIf="cadastro; else login" class="col-sm-6 d-flex justify-content-start">
        <app-cadastro (exibirPainel)="exibirPainel($event)"></app-cadastro>
      </div>  
      <ng-template #login>
        <div class="col-sm-6 d-flex justify-content-start">
          <app-login (exibirPainel)="exibirPainel($event)"></app-login>
        </div>
      </ng-template>
    </div>

  </div>
</div>