#bt-global-bg {
	position: absolute;
	width: 100%;
    background: -moz-radial-gradient(circle, #7db9e8, #0057A6);
    background: -webkit-radial-gradient(circle, #7db9e8, #0057A6);
    background: -o-radial-gradient(circle, #7db9e8, #0057A6);
    background: -ms-radial-gradient(circle, #7db9e8, #0057A6);
    background: radial-gradient(circle, #7db9e8, #0057A6);
	background-attachment: fixed;
}

.bt-red-border {
    border: 1px solid red;
}

.bt-blue-border {
    border: 1px solid blue;
}

.bt-green-border {
    border: 1px solid green;
}

.bt-purple-border {
    border: 1px solid purple;
}

.bt-price-tag {
    color: black; 
    margin: 0;
}

.bt-vertical-border {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

.bt-default-border {
    border: 1px solid #777;
}

.bt-no-border {
    border: none;
}

.bt-rounded-corners-5 {
    border-radius: 5px;
}

.bt-rounded-corners-15 {
    border-radius: 15px;
}

.bt-border-left {
    border-left: 1px solid #777;
}

.bt-border-box {
    box-sizing: border-box;
}

.bt-box-sizing {
    box-sizing: border-box;
}

.bt-img-round-10 {
    border-radius: 10px;
}

.bt-hover-bg-gray:hover {
    background-color: rgb(200,200,200);
}

.bt-hover-text-white {
    color: white
}

.bt-vertical-scrolling-list {
    overflow: hidden; 
    overflow-y: scroll;
}

.bt-horizontal-scrolling-list {
    overflow: scroll; 
    overflow-y: hidden;
}

.bt-bg-transparent {
    -webkit-background: transparent;
    -o-background: transparent;
    -ms-background: transparent;
    -moz-background: transparent;
    background: transparent;
}

@media (min-width: 768px) {
    .navbar-brand img {
        max-height: 200px;
    }
 }

 .bt-header-height {
     margin-bottom: 220px
 }

 @media (min-width: 768px) {
     .bt-header-height {
        margin-bottom: 160px;
     }
 }