h5 {
    color:#999
}

h4 {
    color:#555
}

h3 {
    color: #555
}

.card img {
    height: 200px;
}

.secao {
    margin-top: 30px;
    margin-bottom: 30px
}

.preco {
    color: #f60;
    font-weight: bold;
    font-size: 20px
}

.bt-red-border {
    border: 1px solid red;
}

.bt-blue-border {
    border: 1px solid blue;
}

.bt-green-border {
    border: 1px solid green;
}

.bt-purple-border {
    border: 1px solid purple;
}

.bt-price-tag {
    color: black; 
    margin: 0;
}

.bt-vertical-border {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

.bt-default-border {
    border: 1px solid #777;
}

.bt-no-border {
    border: none;
}

.bt-rounded-corners-5 {
    border-radius: 5px;
}

.bt-border-left {
    border-left: 1px solid #777;
}

.bt-border-box {
    box-sizing: border-box;
}

.bt-box-sizing {
    box-sizing: border-box;
}

.bt-img-round-10 {
    border-radius: 10px;
}

.bt-hover-bg-gray:hover {
    background-color: rgb(200,200,200);
}

.bt-hover-text-white {
    color: white
}

.bt-vertical-scrolling-list {
    overflow: hidden; 
    overflow-y: scroll;
}

.bt-horizontal-scrolling-list {
    overflow: scroll; 
    overflow-y: hidden;
}

@media (min-width: 768px) {
    .navbar-brand img {
        max-height: 200px;
    }
 }