.bt-img-galeria:hover {
    cursor: pointer;
}

.bt-img-galeria-selecionada {
    border: 3px solid rgb(247, 247, 247, 0.6);
    cursor: none;
}

.detalhes-oferta {
    margin-top: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bt-text-destaque {
    color: red;
    text-decoration: underline;
}

#div-preco {
    font-size: 2em;
}

#titulo-oferta {
    font-size: 1.6em
}

#descricao-oferta {
    font-size: 1.2em
}

@media (min-width: 576px) {
    .bt-img-galeria-selecionada {
        border-width: 5px;
    }

    #div-preco {
        font-size: 3em
    }

    #titulo-oferta {
        font-size: 2.5em
    }

    #descricao-oferta {
        font-size: 1.5em
    }
 }

 @media (min-width: 768px) {
    .bt-img-galeria-selecionada {
        border-width: 7px;
    }
 }