<div class="container">
  <div class="oferta" *ngIf="oferta !== undefined && oferta.imagens !== undefined">
    
    <hr>

    <div class="row mb-3 mt-md-3">
      <div class="col-12 offset-lg-3 col-lg-6">
        <div class="img_capa text-center">
          <img [src]="oferta.imagens[indexImagemSelecionada].url" id="featured-image" class="img-fluid bt-img-round-10"/>
        </div>
      </div>
    </div>

    <hr>
    
    <div class="row">
      <div class="col">
        <h4 class="text-center text-light font-weight-bold" id="titulo-oferta">{{ oferta.titulo }}</h4>
        <h5 class="text-center text-light d-md-block" id="descricao-oferta"><small>{{ oferta.descricao_oferta }}</small></h5>
      </div>
    </div>
    
    <hr>

    <div class="row px-1 px-md-3">
      <div class="col-6 col-lg-3 mb-3" *ngFor="let imagem of oferta.imagens">
        <img [src]="imagem.url" (click)="imageClicked($event)" class="img-fluid bt-img-round-10 bt-img-galeria" />
      </div>
    </div>
    
    <hr>
    
    <div class="row pt-2 pb-0">
      <div class="col bt-text-destaque d-flex align-items-center justify-content-center" id="div-preco">
        <p>Por apenas <strong>{{ oferta.valor | currency:'BRL':'symbol-narrow' }}</strong></p>
      </div>
      
    </div> 
    
    
    <div class="row">
      <div class="col text-center">
        <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
      </div>
    </div>
  </div> 

  <hr>
  
  <nav class="detalhes-oferta bg-light pb-2 mb-3 bt-rounded-corners-5">
    <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' routerLink="como-usar" id="como-usar-tab" data-toggle="tab" role="tab" aria-controls="como-usar" aria-selected="true">Como Usar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' routerLink="onde-fica" id="onde-fica-tab" data-toggle="tab" role="tab" aria-controls="onde-fica" aria-selected="false">Onde fica</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <router-outlet></router-outlet>
    </div>
  </nav>
  
</div>