<div class="container">
  
  <div class="secao">
    <h3 class="text-center">Cinema, viagens, diversão muito e mais!</h3>
    <h5 class="text-center">Conheça as melhores ofertas para você se divertir quando quiser:</h5>
  </div>
  
  <hr />
  
  <div class="row p-3" *ngFor="let oferta of ofertas">
    <div class="row d-md-none d-block col-12 text-center mb-3">
      <h2>{{ oferta.titulo }}</h2>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center">
      <img [src]="oferta.imagens[0].url" class="img-fluid"/>
    </div>
    
    <div class="col-12 col-md-8">
      <div class="row d-none d-md-block text-center">
        <h2>{{ oferta.titulo }}</h2>
      </div>
      
      <div class="row align-items-center">
        <div class="col-12">
          <h4 class="text-center mt-3 mt-md-1">{{ oferta.descricao_oferta }}</h4>
          <h6>Anunciado por: <b>{{ oferta.anunciante }}</b></h6>
          <div class="row align-items-center mt-4 bt-vertical-border py-2">
            <div class="col-4">
              <h5 class="bt-price-tag">
                  {{ oferta.valor | currency:'BRL':'symbol-narrow' }}
              </h5>
            </div>
            <div class="col-8 col-md-4 offset-md-4 d-flex justify-content-end">
              <button class="btn btn-outline-info" [routerLink]="['/oferta', oferta.id]">Ver oferta</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <hr />
  <br>
</div>